/*グリッド*/
.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
}
.item {
    padding: 15px;
    border: 2px solid;
    border-color: #b9bbbe;
}
.image {
    height: 200px;
    object-fit: cover;
}

.desc {
    text-align: left;
}

/*sensei一覧*/
.thumbnail{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.bg-orange{
    background-color: #ffa07a;
}

.bg-white{
    background-color: white;
}

.bg-lightgray{
    background-color: #e2e6ea;
}

.display-flex-column{
    display: flex;
    flex-direction: column;
}
.display-flex-row{
    display: flex;
    flex-direction: row;
}

.tc-lightgray{
    color: #818182;
}

.border-lightgray{
    border: solid 3px;
    border-color: #e2e6ea;
}

/*swiper*/
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
